.layout{
  padding:2.5em;
  margin-left:5em;
}
.cards{
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color:#FA6304;
  text-align:center;
  color:white;
  width:20vw;
  height:30vh;
  -webkit-box-shadow: 2px 7px 16px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 7px 16px -3px rgba(0,0,0,0.75);
box-shadow: 2px 7px 16px -3px rgba(0,0,0,0.75);
transition: all .2s ease-in-out; 
}
.cards:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.hide {
  display: none;
}

.checklist {
  display: none;
}

.checklist.show {
  display: inline-block;
}

.checklist-title {
  text-align: center;
  padding-bottom: 15px;
}

.back-button {
  margin-left: 310px;
  color: orange;
}

.back-button:hover {
  cursor: pointer;
  color: darkorange;
  transition: color 200ms ease-in-out;
}